<ion-view>
  <ion-content>
    <div id="map" data-tap-disabled="true"></div>
    <div id="controls">
      <button class="button button-block button-assertive" ng-show="UI_STATE === 'SEND_BOMBER'" ng-click="sendBomber()" >
        Click here to send a plane to bomb circle on the map
      </button>
      <button class="button button-block button-assertive" ng-show="UI_STATE === 'SEND_BATTERY'" ng-click="sendAABattery()" >
        Click here to deploy mobile AA to circle on the map
      </button>
      <button class="button button-block button-assertive" ng-show="UI_STATE !== 'VIEW'" ng-click="setViewState()" >
        Back
      </button>
      <br>
      <table class="statsTable">
        <tr>
          <th>
            Username:
          </th>
          <th>
            Health:
          </th>
          <th>
            Bombers in action:
          </th>
          <th>
            Bombers Ready:
          </th>
          <th>
            AA in action:
          </th>
          <th>
            AA Ready:
          </th>
          <th>
            Money
          </th>
          <th>
            Score
          </th>
        </tr>
        <tr>
          <td>
            {{username}}
          </td>
          <td>
            {{playerHealth}}
          </td>
          <td>
            {{state.bomber_in_action}}
          </td>
          <td>
            {{state.bomber_ready}}
          </td>
          <td>
            {{state.AA_deployed}}
          </td>
          <td>
            {{state.AA_ready}}
          </td>
          <td>
            {{state.money}}
          </td>
          <td>
            {{player.points | number : 1}}
          </td>
        </tr>
      </table>
     <!--<h></h><p></p><h></h><p></p>-->
    </div>
  </ion-content>

</ion-view>
