<ion-view title="Please sign in">
  <ion-content>
    <table class="statsTable">
      <tr>
        <th>
          Username:
        </th>
        <th>
          Health:
        </th>
        <th>
          Bombers in action:
        </th>
        <th>
          Bombers Ready:
        </th>
        <th>
          AA in action:
        </th>
        <th>
          AA Ready:
        </th>
        <th>
          Money
        </th>
      </tr>
      <tr ng-repeat="player in players">
        <td>
          {{player.username}}
        </td>
        <td>
          {{player.health}}
        </td>
        <td>
          {{player.bomber_in_action}}
        </td>
        <td>
          {{player.bomber_ready}}
        </td>
        <td>
          {{player.AA_deployed}}
        </td>
        <td>
          {{player.AA_ready}}
        </td>
        <td>
          {{player.money}}
        </td>
      </tr>
    </table>
    <!-- quick'n'dirty fix to keep footer from overlapping -->
    <div><br><br></div>

  </ion-content>
</ion-view>
