<ion-view title="Please sign in">
  <ion-content>
    <table class="statsTable">
      <tr>
        <th>
          Username:
        </th>
        <th>
          Health:
        </th>
        <th>
          Bombers in action:
        </th>
        <th>
          AA in action:
        </th>

        <th>
        Money
      </th>
        <th>
          Score
        </th>
      </tr>
      <tr ng-repeat="player in players">
        <td>
          {{player.username}}
        </td>
        <td>
          {{player.health}}
        </td>
        <td>
          {{player.bomber_in_action}}
        </td>

        <td>
          {{player.AA_deployed}}
        </td>

        <td>
          {{player.money}}
        </td>
        <td>
          {{player.points | number : 1}}
        </td>
      </tr>
    </table>
    <!-- quick'n'dirty fix to keep footer from overlapping -->
    <div><br><br></div>

  </ion-content>
</ion-view>
